[Desktop Entry]
Name=Anatomy Learning
Name[pt_BR]=Aprendendo Anatomia
Exec=xdg-open https://anatomylearning.com/webgl2023v3/browser.php
Icon=anatomy-learning
Terminal=false
Type=Application
StartupNotify=true
