[Desktop Entry]
Name=Anatomy Learning
Name[pt_BR]=Aprendendo Anatomia
Exec=xdg-open https://anatomylearning.com/browser/
Icon=anatomy-learning
Terminal=false
Type=Application
StartupNotify=true
