[Desktop Entry]
Name=Circuit Simulator
Exec=/usr/bin/circuit-simulator-installer
Icon=circuit-simulator
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=false
