[Desktop Entry]
Name=GConjugue
Exec=/usr/bin/gconjugue-installer
Icon=gconjugue-installer
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=false
