[Desktop Entry]
Name=GPredict
Exec=/usr/bin/gpredict-installer
Icon=gpredict-installer
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=false
