[Desktop Entry]
Name=KGeography
Exec=/usr/bin/kgeography-installer
Icon=kgeography-installer
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=false
