[Desktop Entry]
Name=Logisim
Exec=/usr/bin/logisim-installer
Icon=logisim-installer
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=false
