[Desktop Entry]
Name=OpticalRayTracer
Exec=/usr/bin/opticalraytracer-installer
Icon=opticalraytracer-installer
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=false
