[Desktop Entry]
Name=Energy2D
Exec=/usr/bin/energy2d-installer
Icon=energy2d-installer
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=false
