[Desktop Entry]
Name=QElectroTech
Exec=/usr/bin/qelectrotech-installer
Icon=qelectrotech-installer
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=false
