Package: appsedu-ng
Version: 0.0.6
Installed-Size: 1044
Maintainer: Crash and Eddie <crash.eddie123@gmail.com>
Section: science
Architecture: all
Depends: xdotool, mesa-utils, zenity
Priority: optional
Description: Submenus for Educational Applications
 Educational applications were divided into submenus in the Educational category.
